<% if @lesson_type.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <ul>
        <% @lesson_type.errors.full_messages.each do |msg| %>
            <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @lesson_type do |l| %>
    <%= l.label :name %>
    <%= l.text_field :name %>

    <%= l.label :pupils_count %>
    <%= l.text_field :pupils_count %>

    <%= l.label :duration %>
    <%= l.text_field :duration %>

    <%= l.label :price_per_student %>
    <%= l.text_field :price_per_student %>

    <br><%= l.submit :class => 'btn btn-primary' %>
<% end %>